$Rosewater: #f4dbd6;
$Flamingo: #f0c6c6;
$Pink: #f5bde6;
$Mauve: #c6a0f6;
$Red: #ed8796;
$Maroon: #ee99a0;
$Peach: #f5a97f;
$Yellow: #eed49f;
$Green: #a6da95;
$Teal: #8bd5ca;
$Sky: #91d7e3;
$Sapphire: #7dc4e4;
$Blue: #8aadf4;
$Lavender: #b7bdf8;
$Text: #cad3f5;
$Subtext1: #b8c0e0;
$Subtext0: #a5adcb;
$Overlay2: #939ab7;
$Overlay1: #8087a2;
$Overlay0: #6e738d;
$Surface2: #5b6078;
$Surface1: #494d64;
$Surface0: #363a4f;
$Base: #24273a;
$Mantle: #1e2030;
$Crust: #181926;

// Classes used across the entire bar
.bar {
  background-color: $Base;
}

* {
  padding: 0;
  margin: 0;
}

// Workspaces
.workspaces-box {
  margin-left: 5px;
}

.workspace-active {
  color: $Crust; // Text color
  border: none;
  background: $Blue;
  min-height: 10px;
  min-width: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
}

.workspace-inactive {
  color: $Teal; // Text color
  border: none;
  background: $Mantle;
  min-height: 10px;
  min-width: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
}

.workspace-occupied {
  color: $Teal; // Text color
  border: none;
  background: $Green;
  min-height: 10px;
  min-width: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
}
